* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display:flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid black;
    padding: 50px;
    width: 25vw;
}

#bienvenida {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid black;
    padding: 50px;
    width: 50vw;
    height: 50vh;
    font-size: x-large;
}