/* Estilos generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( #030314 ,#778dff);
    background-repeat: no-repeat;
    
    background-size: 100% 200%;
    background-attachment: fixed;
}

.carrusel{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100%;
    
}

.slider{
    width: calc(100% / 4);
    height: 100%;
}
/* Estilos para el contenedor principal */
.slider img{
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.pagPrincipal{
    display: block;
}