
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient( #030314 ,#778dff), url("../imagesFolder/Informacion.png");
    background-repeat: no-repeat;
    background-size: 100% 200%, cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

header {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 900;

}

a {
    color: #fff;
    text-decoration: none;
    transition: color 2s;
    margin-right: 1%;
    position: relative; /* Añade esta línea */
}

a:hover {
    color: #778dff;
}

a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%; /* Altura de la línea */
    background-color: #778dff; /* Color de la línea */
    transform: scaleX(0); /* Inicialmente la línea no se muestra */
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1); /* Muestra la línea en el hover */
    transform-origin: bottom left;
}

.desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 41.5%;
    font-size: 230%;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    border: #00ffea dashed;
    color: #fff;
    margin-top: 5%;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 40%;
    font-size: 90%;
}

.info1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 40%;
    font-size: 90%;
}

.info2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 1%;
    margin-left: 18%;
    margin-right: 40%;
    font-size: 90%;
}

.valores {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 180%;
    font-weight: 900;
    color: #fff;
    border: #00ffea dashed;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 70%;
}

.descValores {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 70%;

}

.descValores1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 70%;
}

.mision {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 180%;
    font-weight: 900;
    color: #fff;
    border: #00ffea dashed;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 70%;
}

.descMision {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 70%;
}

.descMision1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 70%;
}

.piePag {
    display: flex;
    align-items: CENTER;
    justify-content: CENTER;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 2%;
}

.derechos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5%;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.5vb;
    color: #fff;
}

.infoDerechos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1.5vb;
    color: #fff;
}


.material-symbols-outlined {
    font-size: 7em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 51%;
    left: 20%;
    right: 50%;
}


